{% extends 'main/base.html' %}
{% block title %} comidas {% endblock %}
{% block content %}
    <h1 class="text-center">Controle de Comida</h1>
    {% if messages %}
        <div class="alert alert-success" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        <script>
            // Script para ocultar a mensagem de sucesso após 3 segundos
            setTimeout(function () {
                document.querySelector('.alert-success').style.display = 'none';
            }, 2000);
        </script>
    {% endif %}
    <div class="container text-center">
        <div class="row">
            <div class="col-6 float-start">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="novaComida" class="btn btn-sm btn-outline-primary"
                            title="Adicionar nova comida"
                            value="Nova comida">Adicionar alimento
                    </button>
                </form>
            </div>
            <div class="col-6 float-end">
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    Upload CSV
                </button>
            </div>
        </div>
    </div>

    <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Descricao</th>
            <th scope="col">Valor</th>
            <th scope="col">Qtd Minima</th>
        </tr>
        </thead>
        <tbody>
        {% for comida in comidas %}
            <tr>
                <td>{{ comida.id_comida }}</td>
                <td>{{ comida.nome }}</td>
                <td>{{ comida.descricao }}</td>
                <td>{{ comida.valor_formatado }}</td>
                <td>{{ comida.quantidade_minima }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="comidaId" value="{{ comida.id_comida }}"/>
                        <button class="btn" name="editComida">
                            <i class="fa fa-edit" style="color: #74c0fc" title="Editar comida"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="pagination col-9">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    {% if comidas.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page=1">Primeira</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ comidas.previous_page_number }}">Anterior</a>
                        </li>
                   
                    {% endif %}
                    {% if comidas.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ comidas.next_page_number }}">Próxima</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ comidas.paginator.num_pages }}">Última</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
        <div class="col-3">
            <span class="current pull-rigth">
                Página {{ comidas.number }} de {{ comidas.paginator.num_pages }}.
            </span>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data">

                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Upload de arquivo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <b class="text-center">Escolha um arquivo CSV válido</b>
                        <input type="file" name="file" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" name="Upload arquivo" data-bs-dismiss="modal"
                                title="Enviar CSV">
                            Enviar arquivo
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal de carregamento -->
    <div class="modal" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-2">Processando...</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                $('#loadingModal').modal('show');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).ajaxStop(function () {
                $('#loadingModal').modal('hide');
            });
        });
    </script>

{% endblock %}
