{% extends 'main/base.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block title %} Nova Comida {% endblock %}
{% block content %}
    <h1>Criar  Nova Comida </h1>
    <div class="container">
        <form method="POST" role="form" action="{% url 'client_create' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if client_id %}
                <input type="hidden" name="clienteId" value="{{ client_id }}"/>
                <button type="submit" name="saveEditCliente" class="btn btn-primary mt-3">Editar</button>
            {% else %}
                <button type="submit" class="btn btn-primary mt-3">Salvar</button>
            {% endif %}
        </form>
    </div>


{% endblock %}