{% extends 'main/base.html' %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block title %} Novo Evento {% endblock %}
{% block content %}
    <h1 class="text-center">Criar Novo Evento </h1>
    <div class="container">
        <form method="post" role="form" action="{% url 'evento_create' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nome.id_for_label }}">Nome</label>
                {{ form.nome }}
            </div>
            <div class="form-group">
                <label for="{{ form.descricao.id_for_label }}">Descrição</label>
                {{ form.descricao }}
            </div>
            <div class="form-group">
                <label for="{{ form.observacao.id_for_label }}">Observação</label>
                {{ form.observacao }}
            </div>
            <div class="form-group">
                <label for="{{ form.qtd_dias_evento.id_for_label }}">Quantidade de Dias do Evento</label>
                {{ form.qtd_dias_evento }}
            </div>
            <div class="form-group">
                <label for="{{ form.local.id_for_label }}">Local</label>
                {{ form.local }}
            </div>
            <div class="form-group">
                <label for="{{ form.local.id_for_label }}">Cliente</label>
                {{ form.cliente }}
            </div>
            <div class="form-group mt-3" style="height: 30vh;overflow-y: scroll; border: 1px solid #ced4da">
                {% for comida_form in form.comida_forms %}
                    <label for="{{ comida_form.comida.id_for_label }}">{{ comida_form.comida }}</label>
                    {{ comida_form.comida }}
                    {{ comida_form.quantidade }}
                {% endfor %}
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#visualizarModal">
            </button>
            <div class="form-group">
                <label for="{{ form.data_inicio.id_for_label }}">Data de Início</label>
                {{ form.data_inicio }}
            </div>
            <div class="form-group">
                <label for="{{ form.data_fim.id_for_label }}">Data de Fim</label>
                {{ form.data_fim }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
