{% extends 'main/base.html' %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block title %} Novo Evento {% endblock %}
{% block content %}
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                {{ message|safe }}
            {% endfor %}
        </div>
    {% endif %}
    <h1 class="text-center">Criar Novo Evento </h1>
    <div class="container">
        <form method="post" role="form" action="{% url 'evento_create' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nome.id_for_label }}">Nome</label>
                {{ form.nome }}
            </div>
            <div class="form-group">
                <label for="{{ form.descricao.id_for_label }}">Descrição</label>
                {{ form.descricao }}
            </div>
            <div class="form-group">
                <label for="{{ form.observacao.id_for_label }}">Observação</label>
                {{ form.observacao }}
            </div>
            <div class="row">
                <div class="col">
                    <label for="{{ form.local.id_for_label }}">Local</label>
                    {{ form.local }}
                </div>
                <div class="col">
                    <label for="{{ form.local.id_for_label }}">Cliente</label>
                    {{ form.cliente }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label>Comidas</label>
                <div style="height: 30vh;overflow-y: scroll; border: 1px solid #ced4da">
                    {% for comida in comidas %}
                        <div class="pl-3">
                            <input type="checkbox" name="comidas" value="{{ comida.comida_id }}"
                                   class="form-check-input" id="comida-{{ comida.comida_id }}">
                            <label class="form-check-label" for="comida-{{ comida.comida_id }}">{{ comida.nome }} --
                                R${{ comida.valor }}</label>
                            <div class="quantidade-container" style="display: inline-block; margin-left: 10px;"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <label for="{{ form.data_inicio.id_for_label }}">Data de Início</label>
                    {{ form.data_inicio }}
                </div>
                <div class="col">
                    <label for="{{ form.data_fim.id_for_label }}">Data de Fim</label>
                    {{ form.data_fim }}
                </div>
            </div>
            <h2 id="logistica-title">Logistica</h2>
            {{ logistica_formset.management_form }}
            <div id="logisticas-forms">
                {% for form in logistica_formset %}
                    <div class="logistica-form">
                        {{ form|crispy }}
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-info btn-sm pl-0"
                    id="add-logistica" onclick="addLogisticaForm()">Adicionar logistica
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <!--GERENCIAR COMIDA QUUANTIDADE -->
    <script>
        const checkboxes = document.querySelectorAll('input[name="comidas"]');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', handleCheckboxChange);
        });

        function handleCheckboxChange(event) {
            const checkbox = event.target;
            const container = checkbox.parentNode.querySelector('.quantidade-container');
            if (checkbox.checked) {
                const input = document.createElement('input');
                input.type = 'number';
                input.name = `quantidade-${checkbox.value}`;
                input.className = 'form-control';
                input.style.width = '75px';
                input.min = '1'; // set the minimum value to 1
                input.style.display = 'inline-block';
                input.style.marginLeft = '10px';
                container.appendChild(input);
            } else {
                container.innerHTML = '';
            }
        }
    </script>

    <script>
        function addLogisticaForm() {
            const totalFormsInput = document.getElementById('id_logistica-TOTAL_FORMS');
            const currentValue = parseInt(totalFormsInput.value);
            totalFormsInput.value = currentValue + 1;

            const formCount = currentValue;
            const logisticaForms = document.getElementById('logisticas-forms');
            const forms = document.getElementsByClassName('logistica-form');
            if (forms.length === 1 && forms[0].style.display === 'none') {
                console.log("CAIU AQUI")
                forms[0].style.display = 'grid';
                forms[0].querySelectorAll('input').forEach(input => {
                    if (input.type === 'checkbox') {
                        input.checked = false;
                    }
                })
            } else {
                const newForm = logisticaForms.children[0].cloneNode(true);
                const formRegex = RegExp(`logistica-(\\d){1}-`, 'g');
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `logistica-${formCount}-`);

                newForm.querySelectorAll('input, select, textarea').forEach(input => {
                    input.value = '';
                    if (input.type === 'checkbox' || input.type === 'radio') {
                        input.checked = false;
                    }
                });
                logisticaForms.appendChild(newForm);
            }
            logisticaForms.addEventListener('click', function (e) {
                if (e.target && e.target.classList.contains('remove-logistica')) {
                    e.target.parentElement.remove();
                    updateManagementForm();
                }
            });

        }

        function handleDeleteCheckboxChange(event) {
            const checkbox = event.target;
            if (checkbox.checked) {
                const form = checkbox.closest('.logistica-form');
                console.log("FORM PROXIMO" + form)
                form.style.display = 'none';  // Oculta o formulário em vez de removê-lo
                form.querySelector('input[type="checkbox"][name*="-DELETE"]').checked = true; // Garante que o checkbox esteja marcado
                updateManagementForm();
            }
        }

        function updateManagementForm() {
            const totalForms = document.getElementById('id_logistica-TOTAL_FORMS');
            const logisticaForms = document.getElementById('logisticas-forms');
            totalForms.value = Array.from(logisticaForms.querySelectorAll('.logistica-form')).filter((form) => form.style.display !== 'none').length;
            console.log("TOTALFORMS VALUE" + totalForms.value)
        }


        document.addEventListener('DOMContentLoaded', function () {
            updateManagementForm();

            // Adicione event listeners para os checkboxes de exclusão existentes
            const deleteCheckboxes = document.querySelectorAll('input[type="checkbox"][name*="-DELETE"]');
            deleteCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', handleDeleteCheckboxChange);
            });
        });
    </script>

{% endblock %}
