{% extends 'main/base.html' %}
{% block title %} locais {% endblock %}
{% block content %}
    <h1 class="text-center">Controle de local</h1>
    {% if messages %}
        <div class="alert alert-success" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        <script>
            // Script para ocultar a mensagem de sucesso após 3 segundos
            setTimeout(function () {
                document.querySelector('.alert-success').style.display = 'none';
            }, 2000);
        </script>
    {% endif %}
    <div class="row">
        <div class="col-6 float-start">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="novalocal" class="btn btn-sm btn-outline-primary"
                        title="Adicionar nova local"
                        value="Nova local">Adicionar Local
                </button>
            </form>
        </div>

    </div>

    <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereco</th>
            <th scope="col">telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Agravo</th>
        </tr>
        </thead>
        <tbody>
        {% for local in locais %}
            <tr>
                <td>{{ local.id_local }}</td>
                <td>{{ local.nome }}</td>
                <td>{{ local.endereco.endereco }}</td>
                <td>{{ local.telefone_formatado }}</td>
                <td>{{ local.email }}</td>
                <td>{{ local.agravo_formatado }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#visualizarModal" data-nome="{{ local.nome }}"
                            data-endereco="{{ local.endereco }}"
                            data-agravo="{{ local.agravo_formatado }}"
                            data-telefone="{{ local.telefone_formatado }}"
                            data-email="{{ local.email }}"
                            data-observacoes="{{ local.observacoes }}">
                        <i class="fa fa-search" style="color: #74c0fc" title="Visualizar local"></i></button>
                </td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="localId" value="{{ local.id_local }}"/>
                        <button class="btn" name="editlocal">
                            <i class="fa fa-edit" style="color: #74c0fc" title="Editar local"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="pagination col-9">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    {% if locais.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page=1">Primeira</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ locais.previous_page_number }}">Anterior</a>
                        </li>

                    {% endif %}
                    {% if locais.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ locais.next_page_number }}">Próxima</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ locais.paginator.num_pages }}">Última</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
        <div class="col-3">
            <span class="current pull-rigth">
                Página {{ locais.number }} de {{ locais.paginator.num_pages }}.
            </span>
        </div>
    </div>



    <!-- Modal de Visualização -->
    <div class="modal fade" id="visualizarModal" tabindex="-1" aria-labelledby="visualizarModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="visualizarModalLabel">Detalhes do Local</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Nome:</strong> <span id="localNome"></span></p>
                    <p><strong>Endereço:</strong> <span id="localEndereco"></span></p>
                    <p><strong>Agravo:</strong> <span id="localAgravo"></span></p>
                    <p><strong>Telefone:</strong> <span id="localTelefone"></span></p>
                    <p><strong>Email:</strong> <span id="localEmail"></span></p>
                    <p><strong>Observações:</strong> <span id="localObservacoes"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de carregamento -->
    <div class="modal" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-2">Processando...</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Script modal visualização -->
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var visualizarModal = document.getElementById('visualizarModal');
        visualizarModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Botão que acionou o modal
            var nome = button.getAttribute('data-nome');
            var endereco = button.getAttribute('data-endereco');
            var agravo = button.getAttribute('data-agravo');
            var telefone = button.getAttribute('data-telefone');
            var email = button.getAttribute('data-email');
            var observacoes = button.getAttribute('data-observacoes');

            // Atualiza o conteúdo do modal
            document.getElementById('localNome').textContent = nome;
            document.getElementById('localEndereco').textContent = endereco;
            document.getElementById('localAgravo').textContent = agravo;
            document.getElementById('localTelefone').textContent = telefone;
            document.getElementById('localEmail').textContent = email;
            document.getElementById('localObservacoes').textContent = observacoes;
        });
    });
</script>


    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                $('#loadingModal').modal('show');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(document).ajaxStop(function () {
                $('#loadingModal').modal('hide');
            });
        });
    </script>

{% endblock %}
