{% extends 'main/base.html' %}
{% block title %} Clientes {% endblock %}
{% block content %}
    <h1 class="text-center">Controle de Clientes</h1>
    {% if messages %}
        <div class="alert alert-success" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        <script>
            // Script para ocultar a mensagem de sucesso após 3 segundos
            setTimeout(function () {
                document.querySelector('.alert-success').style.display = 'none';
            }, 2000);
        </script>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-primary" title="Adicionar novo usuário"
                value="Novo cliente">Novo Cliente
        </button>
    </form>
    <hr>
    <table class="table table-success">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Possui Evento pendente?</th>
            <th scope="col">Editar Cliente</th>
        </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id_cliente }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.telefone_formatado }}</td>
                <td>
                    {% if  cliente.evento_pk %}
                        Sim 
                    {% else %}
                        Não 
                    {% endif %}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="clienteId" value="{{ cliente.id_cliente }}"/>
                        <button class="btn" name="editClient">
                            <i class="fa fa-edit" style="color: #74c0fc" title="Editar Cliente">
                            </i></button>

                    </form>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}