{% extends 'main/base.html' %}
{% block title %} Clientes {% endblock %}
{% block content %}
    <h1 class="text-center">Controle de Clientes</h1>
    {% if messages %}
        <div class="alert alert-success" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        <script>
            // Script para ocultar a mensagem de sucesso após 3 segundos
            setTimeout(function () {
                document.querySelector('.alert-success').style.display = 'none';
            }, 2000);
        </script>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-primary" title="Adicionar novo usuário"
                value="Novo cliente">Novo Cliente
        </button>
    </form>
    <hr>
    <table class="table table-success">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Possui Evento pendente?</th>
            <th scope="col">Visualizar Cliente</th>
            <th scope="col">Editar Cliente</th>
        </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id_cliente }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.telefone_formatado }}</td>
                <td>
                    {% if  cliente.evento_pk %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#visualizarModal" data-nome="{{ cliente.nome }}"
                            data-endereco="{{ cliente.endereco }}"
                            data-inscricao="{{ cliente.inscricao_estadual }}"
                            data-telefone="{{ cliente.telefone_formatado }}"
                            data-cnpj="{{ cliente.cnpj }}"
                            data-razao="{{ cliente.razao_social }}">
                        <i class="fa fa-search" style="color: #74c0fc" title="Visualizar Cliente"></i></button>
                </td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="clienteId" value="{{ cliente.id_cliente }}"/>
                        <button class="btn" name="editClient">
                            <i class="fa fa-edit" style="color: #74c0fc" title="Editar Cliente">
                            </i></button>

                    </form>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="row">
        <div class="pagination col-9">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    {% if clientes.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page=1">Primeira</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ clientes.previous_page_number }}">Anterior</a>
                        </li>

                    {% endif %}
                    {% if clientes.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ clientes.next_page_number }}">Próxima</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ clientes.paginator.num_pages }}">Última</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
        <div class="col-3">
            <span class="current pull-rigth">
                Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}.
            </span>
        </div>
    </div>


    <div class="modal fade" id="visualizarModal" tabindex="-1" aria-labelledby="visualizarModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="visualizarModalLabel">Detalhes do Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Nome:</strong> <span id="clienteNome"></span></p>
                    <p><strong>Endereço:</strong> <span id="clienteEndereco"></span></p>
                    <p><strong>Inscrição Estadual:</strong> <span id="clienteInscricao"></span></p>
                    <p><strong>Telefone:</strong> <span id="clienteTelefone"></span></p>
                    <p><strong>Razão Social:</strong> <span id="clienteRazao"></span></p>
                    <p><strong>CNPJ:</strong> <span id="clienteCNPJ"></span></p>

                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var visualizarModal = document.getElementById('visualizarModal');
            visualizarModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget; // Botão que acionou o modal
                var nome = button.getAttribute('data-nome');
                var endereco = button.getAttribute('data-endereco');
                var inscricao = button.getAttribute('data-inscricao');
                var telefone = button.getAttribute('data-telefone');
                var cnpj = button.getAttribute('data-cnpj');
                var razao = button.getAttribute('data-razao');
                // Atualiza o conteúdo do modal
                document.getElementById('clienteNome').textContent = nome;
                document.getElementById('clienteEndereco').textContent = endereco;
                document.getElementById('clienteInscricao').textContent = inscricao;
                document.getElementById('clienteTelefone').textContent = telefone;
                document.getElementById('clienteCNPJ').textContent = cnpj;
                document.getElementById('clienteRazao').textContent = razao;
            });
        });
    </script>

{% endblock %}